In [1]:
import numpy as np
import scipy as sp
import matplotlib as mp
import pandas as pd
import datetime

import sys, os
import dateutil.parser as dp
import requests # See http://docs.python-requests.org/


#### CF standard names:

+air_temperature

-rainfall_amount

+wind_speed

In [2]:
#d = {'Date': [""], 'Time': ["00:00"], 'Temp': [20.3]}

In [3]:
temp_df = pd.DataFrame(columns=['Date_Time', 'Temp'])

if __name__ == "__main__":

    client_id = "ab0c8d35-c0fb-442a-b506-6c11cdd9805d"

    # issue an HTTP GET request
    r = requests.get(
        'https://frost.met.no/observations/v0.jsonld',
        {'sources': 'SN18700', 'elements': 'air_temperature', 'referencetime': '2017-07-18/2018-07-18'},
        auth=(client_id, '')
    )

    # extract the time series from the response
    if r.status_code == 200:
        for item in r.json()['data']:
            iso8601 = item['referenceTime']
            d_str = iso8601[:10] + " " + iso8601[11:19]
            dt = datetime.datetime.strptime(d_str, "%Y-%m-%d %H:%M:%S")
            temp = item['observations'][0]['value']
            d = {'Date_Time': [dt], 'Temp': [temp]}
            df2 = pd.DataFrame(data=d)
            temp_df = temp_df.append(df2, ignore_index=True)
            #sys.stdout.write('{} {} {}\n'.format(iso8601[:10], iso8601[11:16], item['observations'][0]['value']))

In [4]:
rain_df = pd.DataFrame(columns=['Date_Time', 'Rain'])

if __name__ == "__main__":

    client_id = "ab0c8d35-c0fb-442a-b506-6c11cdd9805d"

    # issue an HTTP GET request
    r = requests.get(
        'https://frost.met.no/observations/v0.jsonld',
        {'sources': 'SN18700', 'elements': 'sum(precipitation_amount PT1H)', 'referencetime': '2017-07-17/2018-07-17'},
        auth=(client_id, '')
    )

    # extract the time series from the response
    if r.status_code == 200:
        for item in r.json()['data']:
            iso8601 = item['referenceTime']
            d_str = iso8601[:10] + " " + iso8601[11:19]
            dt = datetime.datetime.strptime(d_str, "%Y-%m-%d %H:%M:%S")
            rain = item['observations'][0]['value']
            d = {'Date_Time': [dt], 'Rain': [rain]}
            df2 = pd.DataFrame(data=d)
            rain_df = rain_df.append(df2, ignore_index=True)

In [5]:
wind_df = pd.DataFrame(columns=['Date_Time', 'Time', 'Wind'])

if __name__ == "__main__":

    client_id = "ab0c8d35-c0fb-442a-b506-6c11cdd9805d"

    # issue an HTTP GET request
    r = requests.get(
        'https://frost.met.no/observations/v0.jsonld',
        {'sources': 'SN18700', 'elements': 'mean(wind_speed)', 'referencetime': '2017-07-17/2018-07-17'},
        auth=(client_id, '')
    )

    # extract the time series from the response
    if r.status_code == 200:
        for item in r.json()['data']:
            iso8601 = item['referenceTime']
            #d_str = iso8601[:10] + " " + iso8601[11:19]
            #dt = datetime.datetime.strptime(d_str, "%Y-%m-%d %H:%M:%S")
            #wind = item['observations'][0]['value']
            #d = {'Date_Time': [dt], 'Wind': [wind]}
            #df2 = pd.DataFrame(data=d)
            #wind_df = wind_df.append(df2, ignore_index=True)
            sys.stdout.write('{} {} {}\n'.format(iso8601[:10], iso8601[11:16], item['observations'][0]['value']))

In [6]:
r

In [7]:
luftDF = pd.read_excel('data/TimeValues.xls', sheetname='Verdier')

C:\Anaconda\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [8]:
luftDF.tail(10)

,Fra-tid,Til-tid,Kirkeveien | NO2 | µg/m³,Datadekning (%),Instrumentflagg,QA-flagg,QC-flagg,Kirkeveien | PM10 - PM2.5 | µg/m³,Datadekning (%).1,Instrumentflagg.1,QA-flagg.1,QC-flagg.1,Kirkeveien | PM2.5 | µg/m³,Datadekning (%).2,Instrumentflagg.2,QA-flagg.2,QC-flagg.2
8750,2018-07-17 14:00:00,2018-07-17 15:00:00,15.387366,100,-9900,0,2,6.111885,-9900,-9900,0,-9900,8.796026,100,-9900,0,3
8751,2018-07-17 15:00:00,2018-07-17 16:00:00,15.812585,100,-9900,0,2,3.656814,-9900,-9900,0,-9900,9.705710,100,-9900,0,3
8752,2018-07-17 16:00:00,2018-07-17 17:00:00,15.263722,100,-9900,0,2,3.405861,-9900,-9900,0,-9900,8.459045,100,-9900,0,3
8753,2018-07-17 17:00:00,2018-07-17 18:00:00,19.388335,100,-9900,0,2,3.712368,-9900,-9900,0,-9900,8.628058,100,-9900,0,3
8754,2018-07-17 18:00:00,2018-07-17 19:00:00,19.745060,100,-9900,0,2,4.165814,-9900,-9900,0,-9900,7.704638,100,-9900,0,3
8755,2018-07-17 19:00:00,2018-07-17 20:00:00,29.274286,100,-9900,0,2,6.243272,-9900,-9900,0,-9900,10.104075,100,-9900,0,3
8756,2018-07-17 20:00:00,2018-07-17 21:00:00,22.710248,100,-9900,0,2,5.840334,-9900,-9900,0,-9900,9.146337,100,-9900,0,3
8757,2018-07-17 21:00:00,2018-07-17 22:00:00,34.228025,100,-9900,0,2,8.204184,-9900,-9900,0,-9900,13.669004,100,-9900,0,3
8758,2018-07-17 22:00:00,2018-07-17 23:00:00,27.238961,100,-9900,0,2,7.831386,-9900,-9900,0,-9900,11.206793,100,-9900,0,3
8759,2018-07-17 23:00:00,2018-07-18 00:00:00,15.144754,100,-9900,0,2,5.485252,-9900,-9900,0,-9900,12.158680,100,-9900,0,3

In [9]:
list(luftDF)

['Fra-tid',
 'Til-tid',
 'Kirkeveien | NO2 | µg/m³',
 'Datadekning (%)',
 'Instrumentflagg',
 'QA-flagg',
 'QC-flagg',
 'Kirkeveien | PM10 - PM2.5 | µg/m³',
 'Datadekning (%).1',
 'Instrumentflagg.1',
 'QA-flagg.1',
 'QC-flagg.1',
 'Kirkeveien | PM2.5 | µg/m³',
 'Datadekning (%).2',
 'Instrumentflagg.2',
 'QA-flagg.2',
 'QC-flagg.2']

In [10]:

tmp_luftDF = luftDF[['Fra-tid','Kirkeveien | NO2 | µg/m³','Kirkeveien | PM10 - PM2.5 | µg/m³', 'Kirkeveien | PM2.5 | µg/m³']]
#.rename(index=str, columns={"A": "a", "B": "c"})

tmp_luftDF.columns = ['Date_Time','NO2','PM10 - PM2.5','PM2.5']

tmp_luftDF['Location'] = 'Kirkeveien'

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [11]:
tmp_luftDF.head(10)

            Date_Time        NO2  PM10 - PM2.5     PM2.5    Location
0 2017-07-18 00:00:00   3.460728  -9900.000000 -5.751741  Kirkeveien
1 2017-07-18 01:00:00   4.949490      0.750714  1.765142  Kirkeveien
2 2017-07-18 02:00:00   6.440464      0.265847  5.423282  Kirkeveien
3 2017-07-18 03:00:00  11.121951      0.521606  7.552969  Kirkeveien
4 2017-07-18 04:00:00  16.990981      2.540627  2.808256  Kirkeveien
5 2017-07-18 05:00:00  13.873495      3.218211  3.709590  Kirkeveien
6 2017-07-18 06:00:00  21.142148      3.783919  0.464662  Kirkeveien
7 2017-07-18 07:00:00  17.417929      3.474035  6.557440  Kirkeveien
8 2017-07-18 08:00:00  14.782133      3.450840  7.696757  Kirkeveien
9 2017-07-18 09:00:00   6.529744      2.181036  7.126538  Kirkeveien

In [12]:
temp_df.head(10)

            Date_Time  Temp
0 2017-07-18 00:00:00    12
1 2017-07-18 01:00:00  11.8
2 2017-07-18 02:00:00  10.9
3 2017-07-18 03:00:00  10.1
4 2017-07-18 04:00:00  11.9
5 2017-07-18 05:00:00  13.7
6 2017-07-18 06:00:00  14.7
7 2017-07-18 07:00:00    16
8 2017-07-18 08:00:00  17.4
9 2017-07-18 09:00:00  18.4

In [13]:
result = pd.merge(tmp_luftDF, temp_df, on='Date_Time')
result = pd.merge(result, rain_df, on='Date_Time')

In [14]:
result.head(10)

,Date_Time,NO2,PM10 - PM2.5,PM2.5,Location,Temp,Rain
0,2017-07-18 00:00:00,3.460728,-9900.000000,-5.751741,Kirkeveien,12,0
1,2017-07-18 01:00:00,4.949490,0.750714,1.765142,Kirkeveien,11.8,0
2,2017-07-18 02:00:00,6.440464,0.265847,5.423282,Kirkeveien,10.9,0
3,2017-07-18 03:00:00,11.121951,0.521606,7.552969,Kirkeveien,10.1,0
4,2017-07-18 04:00:00,16.990981,2.540627,2.808256,Kirkeveien,11.9,0
5,2017-07-18 05:00:00,13.873495,3.218211,3.709590,Kirkeveien,13.7,0
6,2017-07-18 06:00:00,21.142148,3.783919,0.464662,Kirkeveien,14.7,0
7,2017-07-18 07:00:00,17.417929,3.474035,6.557440,Kirkeveien,16,0
8,2017-07-18 08:00:00,14.782133,3.450840,7.696757,Kirkeveien,17.4,0
9,2017-07-18 09:00:00,6.529744,2.181036,7.126538,Kirkeveien,18.4,0

In [15]:
wind_df = pd.DataFrame(columns=['Date_Time', 'Wind'])

if __name__ == "__main__":

    client_id = "ab0c8d35-c0fb-442a-b506-6c11cdd9805d"

    # issue an HTTP GET request
    r = requests.get(
        'https://frost.met.no/observations/v0.jsonld',
        {'sources': 'SN18700', 'elements': 'wind_speed', 'referencetime': '2017-07-17/2018-07-17'},
        auth=(client_id, '')
    )

    # extract the time series from the response
    if r.status_code == 200:
        tmpWind = 0
        for item in r.json()['data']:
            iso8601 = item['referenceTime']
            d_str = iso8601[:10] + " " + iso8601[11:19]
            dt = datetime.datetime.strptime(d_str, "%Y-%m-%d %H:%M:%S") 
            wind = item['observations'][0]['value']
            tmpWind = tmpWind + wind
            if dt.minute == 50:
                wind = round(tmpWind/6,1)
                d = {'Date_Time': [dt], 'Wind': [wind]}
                df2 = pd.DataFrame(data=d)
                wind_df = wind_df.append(df2, ignore_index=True)
                tmpWind = 0
                  
            #sys.stdout.write('{} {} {}\n'.format(iso8601[:10], iso8601[11:16], item['observations'][0]['value']))

In [16]:

wind_df.head(10)

            Date_Time  Wind
0 2017-07-17 00:50:00   2.3
1 2017-07-17 01:50:00   1.8
2 2017-07-17 02:50:00   1.2
3 2017-07-17 03:50:00   1.7
4 2017-07-17 04:50:00   1.8
5 2017-07-17 05:50:00   2.9
6 2017-07-17 06:50:00   3.6
7 2017-07-17 07:50:00   4.1
8 2017-07-17 08:50:00   3.7
9 2017-07-17 09:50:00   3.5

In [17]:
result = pd.merge(result, wind_df, on='Date_Time')

In [18]:
#testDF = pd.melt(yoloDF, id_vars=['Fra-tid'], value_name='Verdi', var_name="lokasjon_enhet")

In [19]:
#testDF

In [20]:

#tmp_df = testDF["lokasjon_enhet"].str.extract("([^\|]+)")
# Extract Sex, Age lower bound and Age upper bound group
#tmp_df = df["sex_and_age"].str.extract("(\D)(\d+)(\d{2})")    

# Name columns
#tmp_df.columns = ["Lokasjon"]

# Create `age`column based on `age_lower` and `age_upper`
#tmp_df["age"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

# Merge 
#testDF = pd.concat([testDF, tmp_df], axis=1)

In [21]:
#testDF = testDF.drop(["lokasjon_enhet"],axis=1)
#testDF.head(10)

In [22]:
#df = df[df.line_race != 0]
#testDF = testDF[testDF.Verdi != -9900]
#testDF.count()

In [23]:
#nulltall = testDF[testDF.Verdi < 1.0]
#nulltall = nulltall[nulltall.Verdi != 0]

#nulltall.count()

#df[df < 2.0 ].count()