In [1]:
import numpy as np
import scipy as sp
import matplotlib as mp
import pandas as pd

import sys, os
import dateutil.parser as dp
import requests # See http://docs.python-requests.org/


#### CF standard names:

+air_temperature

-rainfall_amount

+wind_speed

In [2]:
#d = {'Date': [""], 'Time': ["00:00"], 'Temp': [20.3]}
temp_df = pd.DataFrame(columns=['Date', 'Time', 'Temp'])
rain_df = pd.DataFrame(columns=['Date', 'Time', 'Rain'])
wind_df = pd.DataFrame(columns=['Date', 'Time', 'Wind'])

In [3]:
if __name__ == "__main__":

    client_id = "ab0c8d35-c0fb-442a-b506-6c11cdd9805d"

    # issue an HTTP GET request
    r = requests.get(
        'https://frost.met.no/observations/v0.jsonld',
        {'sources': 'SN18700', 'elements': 'air_temperature', 'referencetime': '2018-05-17/2018-07-17'},
        auth=(client_id, '')
    )

    # extract the time series from the response
    if r.status_code == 200:
        for item in r.json()['data']:
            iso8601 = item['referenceTime']
            date = iso8601[:10]
            time = iso8601[11:16]
            rain = item['observations'][0]['value']
            d = {'Date': [date], 'Time': [time], 'Rain': [rain]}
            df2 = pd.DataFrame(data=d)
            temp_df = temp_df.append(df2, ignore_index=True)
            #sys.stdout.write('{} {} {}\n'.format(iso8601[:10], iso8601[11:16], item['observations'][0]['value']))

C:\Anaconda\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [17]:
if __name__ == "__main__":

    client_id = "ab0c8d35-c0fb-442a-b506-6c11cdd9805d"

    # issue an HTTP GET request
    r = requests.get(
        'https://frost.met.no/observations/v0.jsonld',
        {'sources': 'SN18700', 'elements': 'sum(precipitation_amount PT1H)', 'referencetime': '2018-05-17/2018-07-17'},
        auth=(client_id, '')
    )

    # extract the time series from the response
    if r.status_code == 200:
        for item in r.json()['data']:
            iso8601 = item['referenceTime']
            date = iso8601[:10]
            time = iso8601[11:16]
            rain = item['observations'][0]['value']
            d = {'Date': [date], 'Time': [time], 'Rain': [rain]}
            df2 = pd.DataFrame(data=d)
            rain_df = rain_df.append(df2, ignore_index=True)
            #sys.stdout.write('{} {} {}\n'.format(iso8601[:10], iso8601[11:16], item['observations'][0]['value']))

In [18]:
rain_df[rain_df.Rain > 0].head(10)

           Date   Time Rain
137  2017-07-22  17:00  0.1
159  2017-07-23  15:00  0.1
163  2017-07-23  19:00  0.1
165  2017-07-23  21:00  0.1
166  2017-07-23  22:00  0.6
178  2017-07-24  10:00  0.1
219  2017-07-26  03:00  1.3
245  2017-07-27  05:00  0.1
246  2017-07-27  06:00  0.2
254  2017-07-27  14:00  0.7

In [6]:
luftDF = pd.read_excel('data/TimeValues.xls', sheetname='Verdier')

C:\Anaconda\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [7]:
luftDF.head(10)

,Fra-tid,Til-tid,Kirkeveien | NO2 | µg/m³,Datadekning (%),Instrumentflagg,QA-flagg,QC-flagg,Kirkeveien | PM10 - PM2.5 | µg/m³,Datadekning (%).1,Instrumentflagg.1,QA-flagg.1,QC-flagg.1,Kirkeveien | PM2.5 | µg/m³,Datadekning (%).2,Instrumentflagg.2,QA-flagg.2,QC-flagg.2
0,2017-07-18 00:00:00,2017-07-18 01:00:00,3.460728,100,-9900,0,4,-9900.000000,-9900,-9900,1,-9900,-5.751741,100,-9900,3,4
1,2017-07-18 01:00:00,2017-07-18 02:00:00,4.949490,100,-9900,0,4,0.750714,-9900,-9900,0,-9900,1.765142,100,-9900,0,4
2,2017-07-18 02:00:00,2017-07-18 03:00:00,6.440464,100,-9900,0,4,0.265847,-9900,-9900,0,-9900,5.423282,100,-9900,0,4
3,2017-07-18 03:00:00,2017-07-18 04:00:00,11.121951,100,-9900,0,4,0.521606,-9900,-9900,0,-9900,7.552969,100,-9900,0,4
4,2017-07-18 04:00:00,2017-07-18 05:00:00,16.990981,100,-9900,0,4,2.540627,-9900,-9900,0,-9900,2.808256,100,-9900,0,4
5,2017-07-18 05:00:00,2017-07-18 06:00:00,13.873495,100,-9900,0,4,3.218211,-9900,-9900,0,-9900,3.709590,100,-9900,0,4
6,2017-07-18 06:00:00,2017-07-18 07:00:00,21.142148,100,-9900,0,4,3.783919,-9900,-9900,0,-9900,0.464662,100,-9900,0,4
7,2017-07-18 07:00:00,2017-07-18 08:00:00,17.417929,100,-9900,0,4,3.474035,-9900,-9900,0,-9900,6.557440,100,-9900,0,4
8,2017-07-18 08:00:00,2017-07-18 09:00:00,14.782133,100,-9900,0,4,3.450840,-9900,-9900,0,-9900,7.696757,100,-9900,0,4
9,2017-07-18 09:00:00,2017-07-18 10:00:00,6.529744,100,-9900,0,4,2.181036,-9900,-9900,0,-9900,7.126538,100,-9900,0,4

In [8]:
list(luftDF)

['Fra-tid',
 'Til-tid',
 'Kirkeveien | NO2 | µg/m³',
 'Datadekning (%)',
 'Instrumentflagg',
 'QA-flagg',
 'QC-flagg',
 'Kirkeveien | PM10 - PM2.5 | µg/m³',
 'Datadekning (%).1',
 'Instrumentflagg.1',
 'QA-flagg.1',
 'QC-flagg.1',
 'Kirkeveien | PM2.5 | µg/m³',
 'Datadekning (%).2',
 'Instrumentflagg.2',
 'QA-flagg.2',
 'QC-flagg.2']

In [9]:

yoloDF = luftDF[['Fra-tid','Kirkeveien | NO2 | µg/m³','Kirkeveien | PM10 - PM2.5 | µg/m³', 'Kirkeveien | PM2.5 | µg/m³']]

yoloDF.head(10)

,Fra-tid,Kirkeveien | NO2 | µg/m³,Kirkeveien | PM10 - PM2.5 | µg/m³,Kirkeveien | PM2.5 | µg/m³
0,2017-07-18 00:00:00,3.460728,-9900.000000,-5.751741
1,2017-07-18 01:00:00,4.949490,0.750714,1.765142
2,2017-07-18 02:00:00,6.440464,0.265847,5.423282
3,2017-07-18 03:00:00,11.121951,0.521606,7.552969
4,2017-07-18 04:00:00,16.990981,2.540627,2.808256
5,2017-07-18 05:00:00,13.873495,3.218211,3.709590
6,2017-07-18 06:00:00,21.142148,3.783919,0.464662
7,2017-07-18 07:00:00,17.417929,3.474035,6.557440
8,2017-07-18 08:00:00,14.782133,3.450840,7.696757
9,2017-07-18 09:00:00,6.529744,2.181036,7.126538

In [10]:
 testDF = pd.melt(yoloDF, id_vars=['Fra-tid'], value_name='Verdi', var_name="lokasjon_enhet")

In [11]:
testDF

                  Fra-tid              lokasjon_enhet      Verdi
0     2017-07-18 00:00:00    Kirkeveien | NO2 | µg/m³   3.460728
1     2017-07-18 01:00:00    Kirkeveien | NO2 | µg/m³   4.949490
2     2017-07-18 02:00:00    Kirkeveien | NO2 | µg/m³   6.440464
3     2017-07-18 03:00:00    Kirkeveien | NO2 | µg/m³  11.121951
4     2017-07-18 04:00:00    Kirkeveien | NO2 | µg/m³  16.990981
5     2017-07-18 05:00:00    Kirkeveien | NO2 | µg/m³  13.873495
6     2017-07-18 06:00:00    Kirkeveien | NO2 | µg/m³  21.142148
7     2017-07-18 07:00:00    Kirkeveien | NO2 | µg/m³  17.417929
8     2017-07-18 08:00:00    Kirkeveien | NO2 | µg/m³  14.782133
9     2017-07-18 09:00:00    Kirkeveien | NO2 | µg/m³   6.529744
10    2017-07-18 10:00:00    Kirkeveien | NO2 | µg/m³   9.928401
11    2017-07-18 11:00:00    Kirkeveien | NO2 | µg/m³  12.468918
12    2017-07-18 12:00:00    Kirkeveien | NO2 | µg/m³  10.878748
13    2017-07-18 13:00:00    Kirkeveien | NO2 | µg/m³  21.996783
14    2017-07-18 14:00:00    Kirkeveien | NO2 | µg/m³  14.999453
15    2017-07-18 15:00:00    Kirkeveien | NO2 | µg/m³  23.635757
16    2017-07-18 16:00:00    Kirkeveien | NO2 | µg/m³  20.942223
17    2017-07-18 17:00:00    Kirkeveien | NO2 | µg/m³  24.362760
18    2017-07-18 18:00:00    Kirkeveien | NO2 | µg/m³  16.296320
19    2017-07-18 19:00:00    Kirkeveien | NO2 | µg/m³  27.651086
20    2017-07-18 20:00:00    Kirkeveien | NO2 | µg/m³  15.769252
21    2017-07-18 21:00:00    Kirkeveien | NO2 | µg/m³  17.125274
22    2017-07-18 22:00:00    Kirkeveien | NO2 | µg/m³  22.615701
23    2017-07-18 23:00:00    Kirkeveien | NO2 | µg/m³  12.915789
24    2017-07-19 00:00:00    Kirkeveien | NO2 | µg/m³   6.748004
25    2017-07-19 01:00:00    Kirkeveien | NO2 | µg/m³   3.878704
26    2017-07-19 02:00:00    Kirkeveien | NO2 | µg/m³   2.759388
27    2017-07-19 03:00:00    Kirkeveien | NO2 | µg/m³   4.912510
28    2017-07-19 04:00:00    Kirkeveien | NO2 | µg/m³   4.604255
29    2017-07-19 05:00:00    Kirkeveien | NO2 | µg/m³   7.038193
...                   ...                         ...        ...
26250 2018-07-16 18:00:00  Kirkeveien | PM2.5 | µg/m³   4.992953
26251 2018-07-16 19:00:00  Kirkeveien | PM2.5 | µg/m³   3.335477
26252 2018-07-16 20:00:00  Kirkeveien | PM2.5 | µg/m³   1.124705
26253 2018-07-16 21:00:00  Kirkeveien | PM2.5 | µg/m³   2.940192
26254 2018-07-16 22:00:00  Kirkeveien | PM2.5 | µg/m³   4.566467
26255 2018-07-16 23:00:00  Kirkeveien | PM2.5 | µg/m³   1.197892
26256 2018-07-17 00:00:00  Kirkeveien | PM2.5 | µg/m³   4.815750
26257 2018-07-17 01:00:00  Kirkeveien | PM2.5 | µg/m³   7.621448
26258 2018-07-17 02:00:00  Kirkeveien | PM2.5 | µg/m³  -1.154981
26259 2018-07-17 03:00:00  Kirkeveien | PM2.5 | µg/m³   0.493945
26260 2018-07-17 04:00:00  Kirkeveien | PM2.5 | µg/m³   3.656509
26261 2018-07-17 05:00:00  Kirkeveien | PM2.5 | µg/m³   7.351487
26262 2018-07-17 06:00:00  Kirkeveien | PM2.5 | µg/m³   6.374289
26263 2018-07-17 07:00:00  Kirkeveien | PM2.5 | µg/m³   6.977744
26264 2018-07-17 08:00:00  Kirkeveien | PM2.5 | µg/m³   5.246371
26265 2018-07-17 09:00:00  Kirkeveien | PM2.5 | µg/m³   7.873932
26266 2018-07-17 10:00:00  Kirkeveien | PM2.5 | µg/m³  11.303297
26267 2018-07-17 11:00:00  Kirkeveien | PM2.5 | µg/m³  11.420437
26268 2018-07-17 12:00:00  Kirkeveien | PM2.5 | µg/m³  10.084104
26269 2018-07-17 13:00:00  Kirkeveien | PM2.5 | µg/m³  10.088677
26270 2018-07-17 14:00:00  Kirkeveien | PM2.5 | µg/m³   8.796026
26271 2018-07-17 15:00:00  Kirkeveien | PM2.5 | µg/m³   9.705710
26272 2018-07-17 16:00:00  Kirkeveien | PM2.5 | µg/m³   8.459045
26273 2018-07-17 17:00:00  Kirkeveien | PM2.5 | µg/m³   8.628058
26274 2018-07-17 18:00:00  Kirkeveien | PM2.5 | µg/m³   7.704638
26275 2018-07-17 19:00:00  Kirkeveien | PM2.5 | µg/m³  10.104075
26276 2018-07-17 20:00:00  Kirkeveien | PM2.5 | µg/m³   9.146337
26277 2018-07-17 21:00:00  Kirkeveien | PM2.5 | µg/m³  13.669004
26278 2018-07-17 22:00:00  Kirkeveien | PM2.5 | µg/m³  11.206793
26279 2018-07-17 23:00:00  Kirkeveien | PM2.5 | µg/m³  12.158680

[26280 rows x 3 columns]

In [12]:

tmp_df = testDF["lokasjon_enhet"].str.extract("([^\|]+).([^\|]+)")
# Extract Sex, Age lower bound and Age upper bound group
#tmp_df = df["sex_and_age"].str.extract("(\D)(\d+)(\d{2})")    

# Name columns
tmp_df.columns = ["Lokasjon", "enhet"]

# Create `age`column based on `age_lower` and `age_upper`
#tmp_df["age"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

# Merge 
testDF = pd.concat([testDF, tmp_df], axis=1)

In [13]:
testDF = testDF.drop(["lokasjon_enhet"],axis=1)
testDF.head(10)

              Fra-tid      Verdi     Lokasjon  enhet
0 2017-07-18 00:00:00   3.460728  Kirkeveien    NO2
1 2017-07-18 01:00:00   4.949490  Kirkeveien    NO2
2 2017-07-18 02:00:00   6.440464  Kirkeveien    NO2
3 2017-07-18 03:00:00  11.121951  Kirkeveien    NO2
4 2017-07-18 04:00:00  16.990981  Kirkeveien    NO2
5 2017-07-18 05:00:00  13.873495  Kirkeveien    NO2
6 2017-07-18 06:00:00  21.142148  Kirkeveien    NO2
7 2017-07-18 07:00:00  17.417929  Kirkeveien    NO2
8 2017-07-18 08:00:00  14.782133  Kirkeveien    NO2
9 2017-07-18 09:00:00   6.529744  Kirkeveien    NO2

In [14]:
#df = df[df.line_race != 0]
testDF = testDF[testDF.Verdi != -9900]
testDF.count()

Fra-tid     23993
Verdi       23993
Lokasjon    23993
enhet       23993
dtype: int64

In [15]:
nulltall = testDF[testDF.Verdi < 1.0]
nulltall = nulltall[nulltall.Verdi != 0]

nulltall.count()

#df[df < 2.0 ].count()

Fra-tid     2185
Verdi       2185
Lokasjon    2185
enhet       2185
dtype: int64

In [16]:
import matplotlib.pyplot as plt

#x = np.arange(10)
no2 = testDF[testDF.enhet == " NO2 "]
pm2 = testDF[testDF.enhet == " PM2.5 "]

x = no2["Verdi"]

x

plt.plot(x, x)
plt.plot(x, 2 * x)
plt.plot(x, 3 * x)
plt.plot(x, 4 * x)
plt.show()